<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoang Dep trai</title>
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <h1>Hùng Đầu Bò</h1>
    <h2><button>HuHu</button></h2>
    <img src="/img/c.png">
</body>

</html>